body {
    background-color: #222d2d;
    background-image: url("fondo.jpg"); 
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: 1400px 800px;
  }
div{
    text-align:center
}